// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------





/// Regular font family
/// @type List
$text-font-stack: 'Lato', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;




/// @type Color
/// Gray Tone

$gray-a: #333333 !default;
$gray-b: #4F4F4F !default;
$gray-c: #828282 !default;
$gray-d: #BDBDBD !default;
$gray-e: #E0E0E0 !default;
$gray-f: #F2F2F2 !default;


/// Green Tone

$gren-a: #3DAE2C !default;
$gren-b: #71C465 !default;
$gren-c: #B8E1B2 !default;


/// Purple Tone

$purple-a: #592C82 !default;
$purple-b: #8665A4 !default;
$purple-c: #C2B2D1 !default;
$purple-d: #E3DCEA !default;




/// Copy text color
/// @type Color
$text-color: $gray-b !default;

/// Main brand color
/// @type Color
$brand-color: $gren-a !default;

/// Reset color
/// @type Color
$reset-color: #FFFFFF !default;






/// Container's maximum width
/// @type Length
$max-width: 1180px !default;





/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;






/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
